<div class="container mt-5" id="navigation">
    <form [formGroup]="anuncioForm" (ngSubmit)="onSubmit()" class="row g-3">
  
      <div class="col-md-6 position-relative">
        <label class="form-label" for="idMarca">Marca:</label>
        <input type="text" id="idMarca" class="form-control" [value]="marca?.descricao" (focus)="onFocus()">
        <ul *ngIf="marcas.length > 0" class="suggestions">
          <li *ngFor="let marca of marcas" (click)="selectMarca(marca)">{{ marca.descricao }}</li>
        </ul>
      </div>
  
      <div class="col-md-6">
        <label class="form-label" for="idModelo">Modelo:</label>
        <select id="idModelo" class="form-control" formControlName="idModelo" [disabled]="!marca" (change)="onModeloChange($event)">
          <option value="">Selecione um modelo</option>
          <option *ngFor="let modelo of modelos" [value]="modelo.id">{{ modelo.descricao }}</option>
        </select>
      </div>
  
      <div class="col-md-6 mt-3">
        <label class="form-label" for="idVersao">Versão:</label>
        <select id="idVersao" class="form-control" formControlName="idVersao" [disabled]="!modelos[0]" (change)="onVersaoChange($event)">
          <option value="">Selecione uma versão</option>
          <option *ngFor="let versao of versoes" [value]="versao.id">{{ versao.descricao }}</option>
        </select>
      </div>
  
      <div class="col-md-6 mt-3">
        <label class="form-label" for="placa">Placa:</label>
        <input type="text" id="placa" maxlength="7" placeholder="TTT8I88" class="form-control" formControlName="placa" required>
      </div>
  
      <div class="col-md-6 mt-3">
        <label class="form-label" for="portas">Portas:</label>
        <input type="number" id="portas" max="8" class="form-control" formControlName="portas"  required>
      </div>
  
      
      <div class="col-md-6 mt-3">
        <label class="form-label">Cor:</label>
        <select class="form-control" formControlName="cor">
            <option *ngFor="let cor of cores" [value]="cor">{{ cor }}</option>
        </select>
      </div>

      <div class="col-md-6 mt-3">
        <label class="form-label">Câmbio:</label>
        <select class="form-control" formControlName="cambio">
            <option *ngFor="let tipo of cambios" [value]="tipo">{{ tipo }}</option>
        </select>
      </div>
  
      <div class="col-md-6 mt-3">
        <label class="form-label" for="km">Quilometragem:</label>
        <input type="text" id="km" class="form-control" formControlName="km" required>
      </div>
  
      <div class="col-md-2 mt-3">
        <label class="form-label" for="estado">Estado:</label>
        <input type="text" id="estado" placeholder="RJ" maxlength="2" class="form-control" formControlName="estado" required>
      </div>
  
      <div class="col-md-4 mt-3">
        <label class="form-label" for="preco">Preço:</label>
        <input type="number" id="preco" class="form-control" formControlName="preco" required step="0.01">
      </div>
  
      <div class="col-md-3 mt-3">
        <label class="form-label" for="anoFabricacao">Ano de Fabricação:</label>
        <input type="text" id="anoFabricacao" class="form-control" formControlName="anoFabricacao" required>
      </div>
  
      <div class="col-md-3 mt-3">
        <label class="form-label" for="anoVeiculo">Ano do Veículo:</label>
        <input type="text" id="anoVeiculo" class="form-control" formControlName="anoVeiculo" required>
      </div>
  
      <div class="col-md-12 mt-3">
        <div class="row">
          <div class="col-md-4">
            <label class="form-label">Tipos de Combustível:</label>
            <div *ngFor="let tipo of tiposCombustiveis" class="form-check">
              <input type="checkbox" class="form-check-input" [value]="tipo.id" (change)="onTiposCombustiveisChange($event)">
              <label class="form-check-label">{{ tipo.descricao }}</label>
            </div>
          </div>
  
          <div class="col-md-4">
            <label class="form-label">Opcionais:</label>
            <div *ngFor="let opcional of opcionais" class="form-check">
              <input type="checkbox" class="form-check-input" [value]="opcional.id" (change)="onOpcionaisChange($event)">
              <label class="form-check-label">{{ opcional.descricao }}</label>
            </div>
          </div>
  
          <div class="col-md-4">
            <label class="form-label">Características:</label>
            <div *ngFor="let caracteristica of caracteristicas" class="form-check">
              <input type="checkbox" class="form-check-input" [value]="caracteristica.id" (change)="onCaracteristicasChange($event)">
              <label class="form-check-label">{{ caracteristica.descricao }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 mt-3">
        <label class="form-label">Permissões:</label>
        <div class="form-check">
          <input type="checkbox" id="exibirTelefone" class="form-check-input" formControlName="exibirTelefone">
          <label class="form-check-label" for="exibirTelefone">Exibir Telefone</label>
        </div>
  
        <div class="form-check mt-2">
          <input type="checkbox" id="exibirEmail" class="form-check-input" formControlName="exibirEmail">
          <label class="form-check-label" for="exibirEmail">Exibir Email</label>
        </div>
      </div>
  
      <div class="col-md-6 mt-3">
      </div>

      <div class="col-md-12 mt-3">
        <label class="form-label" for="files">Fotos:</label>
        <div class="file-upload-wrapper" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
          <input type="file" id="files" class="form-control-file" (change)="onFilesSelected($event)" accept=".jpg, .jpeg, .png" multiple [disabled]="selectedFiles.length >= 8">
          <div class="upload-area">
            <i class="fas fa-cloud-upload-alt upload-icon"></i>
            <p>Arraste suas imagens aqui ou clique para selecionar</p>
          </div>
        </div>
        <div class="image-preview mt-3">
          <div class="image-item" *ngFor="let file of selectedFiles; let i = index">
            <img [src]="getImagePreview(file)" class="img-thumbnail" />
            <button type="button" (click)="removeFile(i)" class="btn btn-sm btn-danger remove-btn">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <div *ngIf="selectedFiles.length >= 8" class="alert alert-warning mt-2" role="alert">
          Você atingiu o limite máximo de 8 imagens.
        </div>
      </div>
      
      <div *ngIf="error" class="alert alert-danger mt-2" role="alert">
        <p *ngFor="let erro of error.erros">{{erro}}</p>
      </div>
  
      <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="anuncioForm.invalid">Cadastrar</button>
      </div>
    </form>
  </div>