<div class="container mt-5" id="navigation" *ngIf="anuncio">
  <div class="row">
    <div class="col-md-10">
      <mat-tab-group>
        <mat-tab *ngFor="let imagem of anuncio?.imagens">
          <ng-template mat-tab-label>
            <img [src]="imagem.arn" alt="Thumbnail" class="thumbnail-img">
          </ng-template>
          <img [src]="imagem.arn" alt="Carro" class="d-block w-100">
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-10">
      <mat-card class="anuncio-card">
        <mat-card-header>
          <mat-card-title>{{ anuncio?.modelo?.descricao }}</mat-card-title>
          <mat-card-subtitle>{{ anuncio?.modelo?.marca?.descricao }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Preço:</strong> R$ {{ anuncio?.preco | number:'1.2-2' }}</p>
          <p><strong>Kilometragem:</strong> {{ anuncio?.km }} KM</p>
          <p><strong>Ano:</strong> {{ anuncio?.anoFabricacao }}/{{ anuncio?.anoVeiculo }}</p>
          <p><strong>Versão:</strong> {{ anuncio.modelo.versoes[0]?.descricao }}</p>
          <p><strong>Câmbio:</strong> {{ anuncio?.cambio }}</p>
          <p><strong>Combustível:</strong> {{ anuncio.tiposCombustiveis[0]?.descricao }}</p>
          <p><strong>Estado:</strong> {{ anuncio?.estado }}</p>
          <p *ngIf="anuncio.exibirTelefone && anuncio.telefone"><strong>Telefone:</strong> {{ anuncio?.telefone }}</p>
          <p *ngIf="anuncio.exibirEmail && anuncio.email"><strong>E-mail:</strong> {{ anuncio?.email }}</p>
        </mat-card-content>
      </mat-card>
    </div>    
  </div>
</div>
